{
  "parser": "babel-eslint",

  "plugins": [
    "import",
    "react",
    "babel",
    "jsx-a11y"
  ],

  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],

  "rules": {
    "max-len": ["error", {
      "code": 120,
      "ignoreUrls": true
    }],
    // Allow underscore because we're using it to signal private class fields,
    // enforced by the babel plugin `transform-private-underscore`.
    "no-underscore-dangle": ["off"],
    // Airbnb style has some highly opinionated syntax restrictions, such as
    // preferring higher order functions instead of for..of loops.
    "no-restricted-syntax": ["off"],
    // Allow empty constructors in classes so that `transform-class-properties`
    // works properly, and thus we can use auto-bound methods in components.
    "no-useless-constructor": ["off"],
    // Allow modules with a single named export. Since this is an ongoing WIP,
    // it's often the case that modules are intended to export multiple symbols.
    "import/prefer-default-export": ["off"],
    // We prefer extending PureComponent instead of writing stateless functions.
    "react/prefer-stateless-function": ["off"],
    // We prefer writing stateless PureComponents.
    "react/no-set-state": ["error"],
    // React recommended rules allows arrow functions in component props. This
    // is bad for PureComponents trying to avoid needless rerenders.
    "react/jsx-no-bind": ["error", {
      "ignoreRefs": false,
      "allowArrowFunctions": false,
      "allowBind": false
    }]
  }
}
